<% provide(:title, "Messages") %>
<h2>Messages</h2>

<%= link_to 'Post a new message', new_message_path %>

<% @conversations.each do |c| %>
    <ol class="conversations">
        <li><%= User.find(c).username %></li>
    </ol>
<% end %>