<h3>Posts</h3>
<% if posts.any? %>
    <ol id="group_posts">
        <%= render posts %>
    </ol>
    <%= will_paginate posts %>
<% else %>
    <p id="group_posts">No posts in this group yet!</p>
<% end %>
