<turbo-frame id="messagesFrame">
    <div id="chatHeader">
        <h2>Messages</h2>
        <span id="chatClose" onclick="document.getElementById('messagesFrame').style.display = 'none';">-</span>
    </div>
    <ol id="chats">
        <% if current_page?(url_for(controller: 'chats')) %>
            <%= request.original_url %>
        <% else %>
            <p>nope</p>
        <% end %>
        <%= render @chats %>
    </ol>

</turbo-frame>